.titulo{

    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.container{
    background-image: url(./images/money.jpg);
    display: flex;
    justify-content: center;
}
